.bio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-background-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}

.profile-image {
  width: 40%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.profile-name {
  color: #4f46e5;
  margin-bottom: 30px;
}
.short-bio {
  margin-bottom: 20px;
  font-weight: bold;
}
.retry-btn {
  background-color: #4f46e5;
  padding: 10px;
  color: #ffffff;
}
