.not-found-container {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-heading {
  margin-top: 13px;
  margin-bottom: 13px;
}
